# Missing Money

In this activity, you’ll identify and handle missing values in a dataset. 

Instructions:

1. Import the Pandas and `pathlib` libraries.

2. Use `Path` with the `read_csv` function to read the CSV file into the DataFrame. Use the `index_col`, `parse_dates`, and `infer_datetime_format` parameters to set the Date column as the index.

3. Confirm that Pandas properly imported the DataFrame by using the `head` function to view the first five rows.

4. Determine the total number of missing values by using the `isnull` function together with the `sum` function.

5. Drop the rows that have missing values by using the `dropna` function.

6. Confirm that all the missing values have been removed by running the `isnull` function. 

References:

[Pandas read_csv function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

[Pandas isnull function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isnull.html)

## Step 1: Import the Pandas and `pathlib` libraries.

In [1]:
# Import the Pandas library
# YOUR CODE HERE
import pandas as pd

# Import the Path module from the pathlib library
# YOUR CODE HERE
from pathlib import Path

## Step 2: Use `Path` with the `read_csv` function to read the CSV file into the DataFrame. Use the `index_col`, `parse_dates`, and `infer_datetime_format` parameters to set the Date column as the index.

In [2]:
# Read in the CSV file called "money_flows.csv" using the Path module
# The CSV file is located in the Resources folder
# Set the index to the column "Date"
# Set the parse_dates and infer_datetime_format parameters
csvpath = Path("/Users/pete/Documents/Fintech-Workspace/M3/03_IPO_Excitement/Resources/IPO_data.csv")

In [7]:
# Read in the CSV file called `IPO_data.csv`using the Path module
# The CSV file is located in the Resources folder
# Set the index to the column "IPO Date"
# Set the parse_dates and infer_datetime_format parameters

 # YOUR CODE HERE
csvpath = Path("/Users/pete/Documents/Fintech-Workspace/M3/01_Missing_Money/Resources/money_flows.csv")
money_flows_df = pd.read_csv(csvpath, 
                     index_col = 'Date', 
                     parse_dates = True, 
                     infer_datetime_format=True
)

            Total Payments
Date
2020-01-01             NaN
2020-01-02            1.04
2020-01-03            1.65
2020-01-03            1.65
2020-01-03            1.65

## Step 3: Confirm that Pandas properly imported the DataFrame by using the `head` function to view the first five rows.

In [8]:
# Call the head function to view the first 5 rows of the DataFrame
# YOUR CODE HERE
money_flows_df.head()

            Total Payments
Date
2020-01-01             NaN
2020-01-02            1.04
2020-01-03            1.65
2020-01-03            1.65
2020-01-03            1.65

## Step 4: Determine the total number of missing values by using the `isnull` function together with the `sum` function.

In [9]:
# Use the isnull function in conjunction with the sum function 
# to determine the total number of missing values in the DataFrame
# YOUR CODE HERE
money_flows_df.isna().sum()

Total Payments    10
dtype: int64

## Step 5: Drop the rows that have missing values by using the `dropna` function.

In [10]:
# Use the dropna function to eliminate the rows with missing values from the DataFrame
# YOUR CODE HERE
money_flows_df.dropna()

            Total Payments
Date
2020-01-02            1.04
2020-01-03            1.65
2020-01-03            1.65
2020-01-03            1.65
2020-01-04            2.02
...                    ...
2020-12-26          210.13
2020-12-27          211.08
2020-12-28          213.27
2020-12-29          217.28
2020-12-30          221.46

[358 rows x 1 columns]

## Step 6: Confirm that all the missing values have been removed by running the `isnull` function.

In [11]:
# Use the isnull and sum functions to confirm that all missing values have been removed
# YOUR CODE HERE
money_flows_df.isna().sum()

Total Payments    10
dtype: int64

### Important:

By the way, did you notice that the above `money_flows_df` DataFrame had a few duplicates for January 3rd, 2020? 

In the next section, we'll learn a few tools to check for and fix duplicates like these.