# Predicting Fraudulent Transactions Using Neural Networks

Now that you’ve learned how to build a deep neural network, you’ll apply those skills to create a deep learning model that can predict financial fraud. But in this activity, rather than a regression deep learning model, you will create a classification deep learning model.

## Instructions:

### Load and Preprocess the Data

1. Read the data from the CSV file into a Pandas DataFrame.

2. Create the target set `y` by assigning the values of the “isFraud” column of the DataFrame.

3. Define the features set `X` by including all of the columns of the DataFrame except for the “isFraud” column.

4. Create the training and testing sets using the `train_test_split` function from scikit-learn.

5. Scale the features data using the `StandardScaler` from scikit-learn.

### Create and Evaluate a Deep Neural Network Model

1. Create a deep neural network model with the following structure:

    * 9 inputs
    * First hidden layer with 18 neurons
    * Second hidden layer with 8 neurons
    * Output layer with a single output
    * Hidden layers use the ReLU activation function, and output layer uses the sigmoid activation function

2. Display the model structure using the 'summary` function.

3. Compile the neural network model using the `binary_crossentropy` loss function, the `adam` optimizer, and `accuracy` as an additional metric.

4. Fit the model with the training data, using 100 epochs.

5. Evaluate the model using testing data and the `evaluate` method.


## References:

[Keras Sequential model](https://keras.io/api/models/sequential/)

[Keras Dense module](https://keras.io/api/layers/core_layers/dense/)

[Keras evaluate](https://keras.io/api/models/model_training_apis/)

In [15]:
# Imports
import pandas as pd

from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

## Load and Preprocess the Data

### Step 1: Read the data from the CSV file into a Pandas DataFrame.

In [16]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving credit_card_transactions.csv to credit_card_transactions (1).csv

In [22]:
# Read the credit_card_transactions.csv file from the Resources folder into a Pandas DataFrame
cc_transactions_df = pd.read_csv("credit_card_transactions.csv")

# Review the DataFrame
cc_transactions_df

,dateMonth,dateWeekday,dateQuarter,operationType,amount,oldbalanceOrig,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,1,1,1,4,736.76,1120.00,383.24,0.00,0.00,0
1,1,1,1,2,256226.20,0.00,0.00,518041.64,1305828.01,0
2,1,1,1,5,310027.49,61594.00,0.00,10089.00,1157398.83,0
3,1,1,1,1,76695.35,9064440.33,9141135.68,880045.33,206147.08,0
4,1,1,1,4,4761.57,0.00,0.00,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...
99995,12,1,4,1,109534.19,18292168.76,18401702.96,403737.01,294202.82,0
99996,12,1,4,1,103920.74,5486901.65,5590822.39,1267095.24,2239899.53,0
99997,12,1,4,5,1298677.95,0.00,0.00,280579.46,1579257.41,0
99998,12,1,4,1,82450.63,4135263.42,4217714.05,2289239.02,2436585.65,0
99999,12,1,4,1,78848.28,144962.00,223810.28,13861.87,0.00,0

### Step 2: Create the target set `y` by assigning the values of the “isFraud” column of the DataFrame.

In [23]:
# Define the target set by selecting the isFraud column
y = cc_transactions_df['isFraud']
# Display a sample of y
y.head()

0    0
1    0
2    0
3    0
4    0
Name: isFraud, dtype: int64

### Step 3: Define the features set `X` by including all of the columns of the DataFrame except for the “isFraud” column.

In [24]:
# Define features set X by selecting all columns but the isFraud
X = cc_transactions_df.drop(columns=['isFraud'])
# Display the features DataFrame
X.head()

,dateMonth,dateWeekday,dateQuarter,operationType,amount,oldbalanceOrig,newbalanceOrig,oldbalanceDest,newbalanceDest
0,1,1,1,4,736.76,1120.00,383.24,0.00,0.00
1,1,1,1,2,256226.20,0.00,0.00,518041.64,1305828.01
2,1,1,1,5,310027.49,61594.00,0.00,10089.00,1157398.83
3,1,1,1,1,76695.35,9064440.33,9141135.68,880045.33,206147.08
4,1,1,1,4,4761.57,0.00,0.00,0.00,0.00

### Step 4: Create the training and testing sets using the `train_test_split` function from scikit-learn.

In [25]:
# Create training and testing datasets using train_teat_split
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Step 5:  Scale the features data using the `StandardScaler` from scikit-learn.

In [26]:
# Create the StandardScaler instance
X_scaler = StandardScaler()

In [27]:
# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

StandardScaler()

In [28]:
# Scale both the training and testing data from the features dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Create and Evaluate a Deep Neural Network Model

### Step 1: Create a deep neural network model with the following structure:

    * 9 inputs
    * First hidden layer with 18 neurons
    * Second hidden layer with 8 neurons
    * Output layer with a single output
    * Hidden layers use the ReLU activation function, and output layer uses the sigmoid activation function

In [29]:
# Define the model - deep neural net with two hidden layers
number_input_features = 9
hidden_nodes_layer1 = 18
hidden_nodes_layer2 = 8

# Create a sequential neural network model
nn = Sequential()

# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer
nn.add(Dense(units=1, activation="sigmoid"))

### Step 2. Display the model structure using the `summary` function.

In [30]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 18)                180

 dense_1 (Dense)             (None, 8)                 152

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 341
Trainable params: 341
Non-trainable params: 0
_________________________________________________________________

### Step 3: Compile the neural network model using the `binary_crossentropy` loss function, the `adam` optimizer, and `accuracy` as an additional metric.

In [31]:
# Compile the Sequential model
# YOUR CODE HERE
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

### Step 4: Fit the model with the training data, using 100 epochs.

In [32]:
# Fit the model using 100 epochs and the training data

# Fit the model
model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0590 - accuracy: 0.9805
Epoch 2/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0098 - accuracy: 0.9988
Epoch 3/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0090 - accuracy: 0.9988
Epoch 4/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0084 - accuracy: 0.9989
Epoch 5/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0081 - accuracy: 0.9989
Epoch 6/100
2344/2344 [==============================] - 6s 3ms/step - loss: 0.0080 - accuracy: 0.9989
Epoch 7/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0079 - accuracy: 0.9989
Epoch 8/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0076 - accuracy: 0.9989
Epoch 9/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0074 - accuracy: 0.9989
Epoch 10/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0072 - accuracy: 0.9989
Epoch 11/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0069 - accuracy: 0.9989
Epoch 12/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0067 - accuracy: 0.9989
Epoch 13/100
2344/2344 [==============================] - 7s 3ms/step - loss: 0.0064 - accuracy: 0.9989
Epoch 14/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0063 - accuracy: 0.9989
Epoch 15/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0061 - accuracy: 0.9989
Epoch 16/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0058 - accuracy: 0.9989
Epoch 17/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0057 - accuracy: 0.9990
Epoch 18/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0056 - accuracy: 0.9990
Epoch 19/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0055 - accuracy: 0.9990
Epoch 20/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0053 - accuracy: 0.9990
Epoch 21/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0053 - accuracy: 0.9990
Epoch 22/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0053 - accuracy: 0.9990
Epoch 23/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0052 - accuracy: 0.9990
Epoch 24/100
2344/2344 [==============================] - 6s 3ms/step - loss: 0.0052 - accuracy: 0.9990
Epoch 25/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0050 - accuracy: 0.9990
Epoch 26/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0051 - accuracy: 0.9990
Epoch 27/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0050 - accuracy: 0.9990
Epoch 28/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0049 - accuracy: 0.9990
Epoch 29/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0050 - accuracy: 0.9990
Epoch 30/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0048 - accuracy: 0.9990
Epoch 31/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0049 - accuracy: 0.9990
Epoch 32/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0048 - accuracy: 0.9990
Epoch 33/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0048 - accuracy: 0.9990
Epoch 34/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0048 - accuracy: 0.9990
Epoch 35/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0047 - accuracy: 0.9990
Epoch 36/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0047 - accuracy: 0.9990
Epoch 37/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0047 - accuracy: 0.9990
Epoch 38/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0047 - accuracy: 0.9990
Epoch 39/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0047 - accuracy: 0.9990
Epoch 40/100
2344/2344 [==============================] - 14s 6ms/step - loss: 0.0046 - accuracy: 0.9990
Epoch 41/100
2344/2344 [==============================] - 7s 3ms/step - loss: 0.0046 - accuracy: 0.9990
Epoch 42/100
2344/2344 [==============================] - 9s 4ms/step - loss: 0.0046 - accuracy: 0.9990
Epoch 43/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0045 - accuracy: 0.9990
Epoch 44/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0045 - accuracy: 0.9990
Epoch 45/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0046 - accuracy: 0.9989
Epoch 46/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0044 - accuracy: 0.9990
Epoch 47/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0044 - accuracy: 0.9990
Epoch 48/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0045 - accuracy: 0.9990
Epoch 49/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0045 - accuracy: 0.9990
Epoch 50/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0044 - accuracy: 0.9990
Epoch 51/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0043 - accuracy: 0.9990
Epoch 52/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0043 - accuracy: 0.9991
Epoch 53/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0043 - accuracy: 0.9990
Epoch 54/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0044 - accuracy: 0.9990
Epoch 55/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0043 - accuracy: 0.9990
Epoch 56/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0044 - accuracy: 0.9990
Epoch 57/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0043 - accuracy: 0.9990
Epoch 58/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0043 - accuracy: 0.9990
Epoch 59/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0043 - accuracy: 0.9990
Epoch 60/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0043 - accuracy: 0.9990
Epoch 61/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0042 - accuracy: 0.9990
Epoch 62/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0043 - accuracy: 0.9990
Epoch 63/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0043 - accuracy: 0.9990
Epoch 64/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0042 - accuracy: 0.9990
Epoch 65/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0042 - accuracy: 0.9990
Epoch 66/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0042 - accuracy: 0.9990
Epoch 67/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0043 - accuracy: 0.9990
Epoch 68/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0043 - accuracy: 0.9990
Epoch 69/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0042 - accuracy: 0.9991
Epoch 70/100
2344/2344 [==============================] - 6s 3ms/step - loss: 0.0043 - accuracy: 0.9990
Epoch 71/100
2344/2344 [==============================] - 7s 3ms/step - loss: 0.0040 - accuracy: 0.9990
Epoch 72/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0043 - accuracy: 0.9989
Epoch 73/100
2344/2344 [==============================] - 6s 3ms/step - loss: 0.0042 - accuracy: 0.9990
Epoch 74/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0041 - accuracy: 0.9990
Epoch 75/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0042 - accuracy: 0.9990
Epoch 76/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0041 - accuracy: 0.9990
Epoch 77/100
2344/2344 [==============================] - 6s 3ms/step - loss: 0.0042 - accuracy: 0.9990
Epoch 78/100
2344/2344 [==============================] - 6s 3ms/step - loss: 0.0041 - accuracy: 0.9990
Epoch 79/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0042 - accuracy: 0.9990
Epoch 80/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0041 - accuracy: 0.9991
Epoch 81/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0041 - accuracy: 0.9990
Epoch 82/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0040 - accuracy: 0.9990
Epoch 83/100
2344/2344 [==============================] - 5s 2ms/step - loss: 0.0042 - accuracy: 0.9990
Epoch 84/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0041 - accuracy: 0.9990
Epoch 85/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0041 - accuracy: 0.9990
Epoch 86/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0040 - accuracy: 0.9990
Epoch 87/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0042 - accuracy: 0.9990
Epoch 88/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0042 - accuracy: 0.9990
Epoch 89/100
2344/2344 [==============================] - 4s 2ms/step - loss: 0.0041 - accuracy: 0.9990
Epoch 90/100
2344/2344 [==============================] - 6s 2ms/step - loss: 0.0040 - accuracy: 0.9990
Epoch 91/100
2344/2344 [==============================] - 6s 3ms/step - loss: 0.0041 - accuracy: 0.9990
Epoch 92/100
2344/2344 [==============================] - 6s 3ms/step - loss: 0.0041 - accuracy: 0.9991
Epoch 93/100
2344/2344 [==============================] - 6s 3ms/step - loss: 0.0041 - accuracy: 0.9990
Epoch 94/100
2344/2344 [==============================] - 7s 3ms/step - loss: 0.0041 - accuracy: 0.9990
Epoch 95/100
2344/2344 [==============================] - 7s 3ms/step - loss: 0.0040 - accuracy: 0.9991
Epoch 96/100
2344/2344 [==============================] - 7s 3ms/step - loss: 0.0040 - accuracy: 0.9991
Epoch 97/100
2344/2344 [==============================] - 7s 3ms/step - loss: 0.0039 - accuracy: 0.9990
Epoch 98/100
2344/2344 [==============================] - 7s 3ms/step - loss: 0.0040 - accuracy: 0.9991
Epoch 99/100
2344/2344 [==============================] - 7s 3ms/step - loss: 0.0041 - accuracy: 0.9990
Epoch 100/100
2344/2344 [==============================] - 6s 3ms/step - loss: 0.0041 - accuracy: 0.9990

### Step 5: Evaluate the model using testing data and the `evaluate` method.

In [33]:
# E# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the evaluation results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

782/782 - 2s - loss: 0.0081 - accuracy: 0.9989 - 2s/epoch - 2ms/step
Loss: 0.00809413380920887, Accuracy: 0.9988800287246704