In [1]:
import pandas as pd
import sqlalchemy

In [2]:
# Create a temporary sqlite database
database_connection_string = 'sqlite:///'

In [3]:
engine = sqlalchemy.create_engine(database_connection_string)
engine

Engine(sqlite:///)

In [4]:
engine.table_names()

/Users/pete/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

[]

In [5]:
stocks_dataframe = pd.DataFrame({'AAPL': [1, 2], 'GOOG': [3, 4]})
stocks_dataframe

   AAPL  GOOG
0     1     3
1     2     4

In [6]:
stocks_dataframe.to_sql('stocks', engine)

In [7]:
engine.table_names()

/Users/pete/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['stocks']

In [8]:
sql_stocks_df = pd.read_sql_table('stocks', con=engine)
sql_stocks_df

   index  AAPL  GOOG
0      0     1     3
1      1     2     4

In [9]:
stocks_dataframe.to_sql('stocks', engine, index=False, if_exists='replace')
sql_stocks_df = pd.read_sql_table('stocks', con=engine)
sql_stocks_df

   AAPL  GOOG
0     1     3
1     2     4

In [10]:
# Create a temporary sqlite database
database_connection_string = 'sqlite:///'

# Create the database engine
engine = sqlalchemy.create_engine(
    database_connection_string,
    echo=True
)

In [11]:
stocks_dataframe.to_sql('stocks', engine, index=False, if_exists='replace')

2022-03-06 18:32:41,607 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stocks")
2022-03-06 18:32:41,610 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:32:41,612 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("stocks")
2022-03-06 18:32:41,614 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:32:41,617 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-06 18:32:41,618 INFO sqlalchemy.engine.Engine
CREATE TABLE stocks (
	"AAPL" BIGINT,
	"GOOG" BIGINT
)


2022-03-06 18:32:41,620 INFO sqlalchemy.engine.Engine [no key 0.00112s] ()
2022-03-06 18:32:41,620 INFO sqlalchemy.engine.Engine COMMIT
2022-03-06 18:32:41,621 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-06 18:32:41,623 INFO sqlalchemy.engine.Engine INSERT INTO stocks ("AAPL", "GOOG") VALUES (?, ?)
2022-03-06 18:32:41,623 INFO sqlalchemy.engine.Engine [generated in 0.00049s] ((1, 3), (2, 4))
2022-03-06 18:32:41,624 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
create_table = """
CREATE TABLE stocks (
    "AAPL" BIGINT,
    "GOOG" BIGINT
)
"""
create_table

'\nCREATE TABLE stocks (\n    "AAPL" BIGINT,\n    "GOOG" BIGINT\n)\n'

In [13]:
create_table = """
CREATE TABLE delicious_stocks (
    "EAT" BIGINT,
    "CAKE" BIGINT
)
"""

In [14]:
create_table

'\nCREATE TABLE delicious_stocks (\n    "EAT" BIGINT,\n    "CAKE" BIGINT\n)\n'

In [15]:
engine.execute(create_table)

2022-03-06 18:36:08,437 INFO sqlalchemy.engine.Engine
CREATE TABLE delicious_stocks (
    "EAT" BIGINT,
    "CAKE" BIGINT
)

2022-03-06 18:36:08,443 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:36:08,444 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
engine.table_names()

2022-03-06 18:36:39,370 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-03-06 18:36:39,373 INFO sqlalchemy.engine.Engine [raw sql] ()

/Users/pete/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['delicious_stocks', 'stocks']

In [17]:
pd.read_sql_table('delicious_stocks', con=engine)

2022-03-06 18:38:41,812 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-03-06 18:38:41,818 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:38:41,819 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2022-03-06 18:38:41,820 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:38:41,822 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("delicious_stocks")
2022-03-06 18:38:41,824 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:38:41,826 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-06 18:38:41,828 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-03-06 18:38:41,830 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("delicious_stocks")
2022-03-06 18:38:41,831 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:38:41,832 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("delicious_stocks")
2022-03-06 18:38:41,833 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:38:41,833 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-06 18:38:41,834 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-03-06 18:38:41,834 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2022-03-06 18:38:41,835 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:38:41,835 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2022-03-06 18:38:41,836 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:38:41,837 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2022-03-06 18:38:41,837 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:38:41,838 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2022-03-06 18:38:41,838 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:38:41,839 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-06 18:38:41,839 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-03-06 18:38:41,841 INFO sqlalchemy.engine.Engine SELECT delicious_stocks."EAT", delicious_stocks."CAKE"
FROM delicious_stocks
2022-03-06 18:38:41,841 INFO sqlalchemy.engine.Engine [generated in 0.00052s] ()

Empty DataFrame
Columns: [EAT, CAKE]
Index: []

In [18]:
insert_data = """
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (?, ?)
"""

In [19]:
engine.execute(insert_data, ((10, 30), (20, 40)))

2022-03-06 18:40:01,279 INFO sqlalchemy.engine.Engine
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (?, ?)

2022-03-06 18:40:01,282 INFO sqlalchemy.engine.Engine [raw sql] ((10, 30), (20, 40))
2022-03-06 18:40:01,284 INFO sqlalchemy.engine.Engine COMMIT

In [20]:
insert_data = """
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (10, 30), (20, 40)
"""
engine.execute(insert_data)

2022-03-06 18:40:37,583 INFO sqlalchemy.engine.Engine
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (10, 30), (20, 40)

2022-03-06 18:40:37,585 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:40:37,588 INFO sqlalchemy.engine.Engine COMMIT

In [21]:
pd.read_sql_table('delicious_stocks', con=engine)

2022-03-06 18:41:28,832 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-03-06 18:41:28,837 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:41:28,838 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2022-03-06 18:41:28,839 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:41:28,840 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("delicious_stocks")
2022-03-06 18:41:28,841 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:41:28,843 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-06 18:41:28,844 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-03-06 18:41:28,846 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("delicious_stocks")
2022-03-06 18:41:28,847 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:41:28,848 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("delicious_stocks")
2022-03-06 18:41:28,848 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:41:28,850 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-06 18:41:28,850 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-03-06 18:41:28,851 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2022-03-06 18:41:28,851 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:41:28,852 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2022-03-06 18:41:28,852 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:41:28,853 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2022-03-06 18:41:28,853 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:41:28,854 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2022-03-06 18:41:28,855 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:41:28,855 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-03-06 18:41:28,855 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-03-06 18:41:28,857 INFO sqlalchemy.engine.Engine SELECT delicious_stocks."EAT", delicious_stocks."CAKE"
FROM delicious_stocks
2022-03-06 18:41:28,857 INFO sqlalchemy.engine.Engine [generated in 0.00056s] ()

   EAT  CAKE
0   10    30
1   20    40
2   10    30
3   20    40

In [22]:
read_all_data = """
SELECT "EAT", "CAKE" FROM delicious_stocks
"""
engine.execute(read_all_data)

2022-03-06 18:42:00,340 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE" FROM delicious_stocks

2022-03-06 18:42:00,343 INFO sqlalchemy.engine.Engine [raw sql] ()

In [24]:
read_all_data = """
SELECT "EAT", "CAKE" FROM delicious_stocks
"""
results = engine.execute(read_all_data)
for row in results:
    print(row)

2022-03-06 18:42:53,962 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE" FROM delicious_stocks

2022-03-06 18:42:53,964 INFO sqlalchemy.engine.Engine [raw sql] ()
(10, 30)
(20, 40)
(10, 30)
(20, 40)

In [25]:
results = engine.execute(read_all_data)
list(results)

2022-03-06 18:43:35,949 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE" FROM delicious_stocks

2022-03-06 18:43:35,952 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 40), (10, 30), (20, 40)]

In [26]:
read_all_data = """
SELECT * FROM delicious_stocks
"""
results = engine.execute(read_all_data)
list(results)

2022-03-06 18:45:06,073 INFO sqlalchemy.engine.Engine
SELECT * FROM delicious_stocks

2022-03-06 18:45:06,081 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 40), (10, 30), (20, 40)]

In [27]:
update_cake = """
UPDATE delicious_stocks
SET CAKE = 100
WHERE CAKE = 40
"""
engine.execute(update_cake)

2022-03-06 18:45:50,955 INFO sqlalchemy.engine.Engine
UPDATE delicious_stocks
SET CAKE = 100
WHERE CAKE = 40

2022-03-06 18:45:50,957 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:45:50,959 INFO sqlalchemy.engine.Engine COMMIT

In [28]:
read_all_data = """
SELECT * FROM delicious_stocks
"""
results = engine.execute(read_all_data)
list(results)

2022-03-06 18:53:36,012 INFO sqlalchemy.engine.Engine
SELECT * FROM delicious_stocks

2022-03-06 18:53:36,014 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 100), (10, 30), (20, 100)]

In [29]:
delete_eat = """
DELETE FROM delicious_stocks
WHERE EAT = 20
"""
engine.execute(delete_eat)

2022-03-06 18:54:36,244 INFO sqlalchemy.engine.Engine
DELETE FROM delicious_stocks
WHERE EAT = 20

2022-03-06 18:54:36,250 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-06 18:54:36,260 INFO sqlalchemy.engine.Engine COMMIT

In [30]:
read_all_data = """
SELECT * FROM delicious_stocks
"""
results = engine.execute(read_all_data)
list(results)

2022-03-06 18:55:04,480 INFO sqlalchemy.engine.Engine
SELECT * FROM delicious_stocks

2022-03-06 18:55:04,483 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (10, 30)]

In [2]:
import fire

def run_crud(message="Running CRUD"):
	print(message)

if __name__ == '__main__':
	fire.Fire(run_crud)

Running CRUD

ERROR: Could not consume arg: -f
Usage: ipykernel_launcher.py -

For detailed information on this command, run:
  ipykernel_launcher.py - --help

FireExit: 2

/Users/pete/opt/anaconda3/envs/dev/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3465: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)