# Bitcoin Collections

In this activity, youâ€™ll import the data for the second Bitcoin dataset into a Pandas DataFrame.

Instructions

1. Use the `Path` module with the `read_csv` function to read the `bitcoin_2` csv file into the DataFrame. Be sure to set the `DatetimeIndex`.

2. Using the Pandas `head` function, review the first five rows of the DataFrame to confirm the import.

3. Using the Pandas `tail` function, review the last five rows of the DataFrame.

### Import the required libraries and dependencies

In [1]:
# Import the required libraries and dependencies including 
# Pandas and pathlib . 
import pandas as pd
from pathlib import Path

### Import the bitcoin_1 CSV file and create a bitcoin_1 DataFrame

In [2]:
# Read in the CSV file called "bitcoin_1.csv" using the Path module. 
# The CSV file is located in the Resources folder.
# Set the index to the column "Timestamp"
# Set the parse_dates and infer_datetime_format parameters
bitcoin_1 = pd.read_csv(
    Path('../Resources/bitcoin_1.csv'), 
    index_col="Timestamp", 
    parse_dates=True, 
    infer_datetime_format=True
)

# Review the first 5 rows of the 'bitcoin_1' DataFrame
bitcoin_1.head()

                     Close
Timestamp
2015-01-01 00:00:00  314.0
2015-01-01 00:01:00  314.0
2015-01-01 00:02:00  314.0
2015-01-01 00:03:00  314.0
2015-01-01 00:04:00  313.9

## Step 1: Use the `Path` module with the `read_csv` function to read the `bitcoin_2` csv file into the DataFrame. Be sure to set the `DatetimeIndex`.

In [3]:
# Read in the CSV file called "bitcoin_2.csv" using the Path module. 
# The CSV file is located in the Resources folder.
# Set the index to the column "Timestamp"
# Set the parse_dates and infer_datetime_format parameters
bitcoin_2 = # YOUR CODE HERE

## Step 2: Using the Pandas `head` function, review the first five rows of the DataFrame to confirm the import.

In [3]:
# Collect the data for the bitcoin_1.csv CSV file
bitcoin_2 = pd.read_csv(
    Path('../Resources/bitcoin_2.csv'),
    index_col="Timestamp",
    parse_dates=True,
    infer_datetime_format=True)

# View the DataFrame
bitcoin_2.head()

                      Close
Timestamp
2015-01-07 20:24:00  360.00
2015-01-07 20:27:00  276.34
2015-01-07 20:28:00  271.60
2015-01-07 20:29:00  344.67
2015-01-07 20:30:00  305.38

## Step 3: Using the Pandas `tail` function, review the last five rows of the DataFrame.

In [4]:
# Using the tail function, review the last 5 rows of the DataFrame
# YOUR CODE HERE
bitcoin_2.tail(5)

                      Close
Timestamp
2015-12-31 23:55:00  437.02
2015-12-31 23:56:00  437.07
2015-12-31 23:57:00  436.03
2015-12-31 23:58:00  436.13
2015-12-31 23:59:00  436.12

In [9]:
bitcoin_1.Close.isna().sum()

0

In [8]:
bitcoin_2.Close.isna().sum()

0

In [10]:
bitcoin_1['Close'].dtypes

dtype('float64')

In [11]:
bitcoin_2['Close'].dtypes

dtype('float64')

In [12]:
bitcoin_1.describe()

               Close
count  372773.000000
mean      274.423996
std        61.778634
min       153.100000
25%       233.850000
50%       248.950000
75%       288.820000
max       501.960000

In [13]:
bitcoin_2.describe()

               Close
count  440797.000000
mean      275.956285
std        60.728446
min       109.940000
25%       235.810000
50%       250.540000
75%       289.260000
max       499.260000