# Predicting Employees Attrition

In this activity, you will apply your knowledge of deep learning models to predict whether an employee is likely to depart from a company.

## Instructions:

The steps for this activity are broken out into the following sections:

* Preprocess the data.

* Create a neural network model to predict employee attrition.

* Train and evaluate the neural network model.


#### Preprocess the Data 

1. Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

2. Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

3. Create a list of categorical variables.

> **Rewind** The Pandas DataFrame `dtypes` property returns a Pandas Series that displays the data type of each column. The column name is the index. You can create the list of categorical variables manually. Or, you can use Pandas filtering. For more detail about the filtering process, review the [`dtypes` documentation at Pandas API reference](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html).

4. Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

5. Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

> **Note** To complete this step, you will employ the Pandas `concat()` function, which was introduced earlier in the course. Recall that we use the `concat` function to combine data from different DataFrames into a new DataFrame. In this case, you’ll use `concat` to create a new DataFrame containing the preprocessed data. You can learn more about the `concat` function in [this section of the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html).

6. Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`. 
    
7. Create the training and testing sets using the `train_test_split` function from scikit-learn.

8. Use scikit-learn’s `StandardScaler` to standardize the numerical features.

#### Create a Neural Network Model to Predict Employee Attrition

1. Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

2. Display the structure of your model using the `summary` function.

3. Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.


#### Train and Evaluate the Neural Network Model

1. Train (fit) the neural network model. Use the training data and set 100 epochs.

2. Evaluate the model using the test data to determine its loss and accuracy.

3. Save and export your model to an HDF5 file. Name the file `employee_attrition.h5`.

## References:

[Keras Sequential model](https://keras.io/api/models/sequential/)

[Keras Dense module](https://keras.io/api/layers/core_layers/dense/)

[Keras evaluate](https://keras.io/api/models/model_training_apis/)

[SKLearn OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Preprocess the data.

### Step 1: Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

In [2]:
# Read the HR-Employee-Attrition.csv file from the Resources folder into a Pandas DataFrame
employee_df = pd.read_csv(
    Path("../Resources/HR-Employee-Attrition.csv")
)

### Step 2: Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

In [3]:
# Review the DataFrame
employee_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
# Review the data types associated with the columns
employee_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Step 3: Create a list of categorical variables.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(employee_df.dtypes[employee_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

### Step 4: Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

In [6]:
# Imports
from sklearn.preprocessing import OneHotEncoder

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Encode categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(employee_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
# The column names should match those of the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Display the DataFrame
encoded_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 5: Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

In [9]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = employee_df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,1,1,2,94,3,2,...,1,80,0,8,0,1,6,4,0,5
1,49,279,8,1,1,2,3,61,2,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1373,2,2,1,4,4,92,2,1,...,2,80,0,7,3,3,0,0,0,0
3,33,1392,3,4,1,5,4,56,3,1,...,3,80,0,8,3,3,8,7,3,0
4,27,591,2,1,1,7,1,40,3,1,...,4,80,1,6,3,3,2,2,2,2

In [10]:
# Using the Pandas concat function, combine the DataFrames the contain the encoded categorical data and the numerical data
attition_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Reveiw the DataFrame
attition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 6: Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`.

In [11]:
# Define the target set y using the Attrition_Yes column
y = attition_df["Attrition_Yes"]

# Display a sample of y
y[:5]

0    1.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: Attrition_Yes, dtype: float64

In [12]:
# Define features set X by selecting all columns but Attrition_Yes and Attrition_No
X = attition_df.drop(columns=["Attrition_Yes", "Attrition_No"])

# Review the features DataFrame
X.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 7: Create the training and testing sets using the `train_test_split` function from scikit-learn.

In [13]:
# Split the data into training and testing datasets
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 8: Use scikit-learn’s `StandardScaler` to standardize the numerical features.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Create a Neural Network Model to Predict Employee Attrition

### Step 1: Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Define the number of hidden nodes for the first hidden layer
# Use the mean of the number of input features plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Define the number of hidden nodes for the second hidden layer
# Use the mean of the number of hidden nodes in the first hidden layer plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Create the Sequential model instance
nn = Sequential()

# Add the first hidden layer specifying the number of inputs, the number of hidden nodes, and the activation function
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer specifying the number of hidden nodes and the activation function
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

### Step 2: Display the structure of your model using the `summary` function.

In [16]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 28)                1568
_________________________________________________________________
dense_1 (Dense)              (None, 14)                406
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 15
=================================================================
Total params: 1,989
Trainable params: 1,989
Non-trainable params: 0
_________________________________________________________________

### Step 3: Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.

In [17]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

---

## Train and Evaluate the Neural Network Model

### Step 1: Train (fit) the neural network model. Use the training data and set 100 epochs.

In [18]:
# Fit the model using 100 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 751us/step - loss: 0.8645 - accuracy: 0.3796
Epoch 2/100
35/35 [==============================] - 0s 698us/step - loss: 0.5257 - accuracy: 0.7797
Epoch 3/100
35/35 [==============================] - 0s 678us/step - loss: 0.4405 - accuracy: 0.8350
Epoch 4/100
35/35 [==============================] - 0s 649us/step - loss: 0.3663 - accuracy: 0.8593
Epoch 5/100
35/35 [==============================] - 0s 633us/step - loss: 0.3496 - accuracy: 0.8592
Epoch 6/100
35/35 [==============================] - 0s 681us/step - loss: 0.3113 - accuracy: 0.8728
Epoch 7/100
35/35 [==============================] - 0s 689us/step - loss: 0.3027 - accuracy: 0.8809
Epoch 8/100
35/35 [==============================] - 0s 787us/step - loss: 0.2806 - accuracy: 0.8929
Epoch 9/100
35/35 [==============================] - 0s 619us/step - loss: 0.2920 - accuracy: 0.8837
Epoch 10/100
35/35 [==============================] - 0s 665us/step - loss: 0.2569 - accuracy: 0.9031
Epoch 11/100
35/35 [==============================] - 0s 640us/step - loss: 0.2700 - accuracy: 0.9067
Epoch 12/100
35/35 [==============================] - 0s 661us/step - loss: 0.2336 - accuracy: 0.9264
Epoch 13/100
35/35 [==============================] - 0s 647us/step - loss: 0.2456 - accuracy: 0.9193
Epoch 14/100
35/35 [==============================] - 0s 677us/step - loss: 0.2473 - accuracy: 0.9076
Epoch 15/100
35/35 [==============================] - 0s 642us/step - loss: 0.2282 - accuracy: 0.9260
Epoch 16/100
35/35 [==============================] - 0s 673us/step - loss: 0.1966 - accuracy: 0.9401
Epoch 17/100
35/35 [==============================] - 0s 624us/step - loss: 0.1833 - accuracy: 0.9468
Epoch 18/100
35/35 [==============================] - 0s 678us/step - loss: 0.2028 - accuracy: 0.9258
Epoch 19/100
35/35 [==============================] - 0s 657us/step - loss: 0.1938 - accuracy: 0.9329
Epoch 20/100
35/35 [==============================] - 0s 684us/step - loss: 0.1834 - accuracy: 0.9358
Epoch 21/100
35/35 [==============================] - 0s 655us/step - loss: 0.1803 - accuracy: 0.9236
Epoch 22/100
35/35 [==============================] - 0s 663us/step - loss: 0.1859 - accuracy: 0.9378
Epoch 23/100
35/35 [==============================] - 0s 706us/step - loss: 0.1779 - accuracy: 0.9390
Epoch 24/100
35/35 [==============================] - 0s 680us/step - loss: 0.1694 - accuracy: 0.9425
Epoch 25/100
35/35 [==============================] - 0s 646us/step - loss: 0.1766 - accuracy: 0.9423
Epoch 26/100
35/35 [==============================] - 0s 671us/step - loss: 0.1573 - accuracy: 0.9508
Epoch 27/100
35/35 [==============================] - 0s 656us/step - loss: 0.1520 - accuracy: 0.9558
Epoch 28/100
35/35 [==============================] - 0s 686us/step - loss: 0.1495 - accuracy: 0.9521
Epoch 29/100
35/35 [==============================] - 0s 638us/step - loss: 0.1494 - accuracy: 0.9532
Epoch 30/100
35/35 [==============================] - 0s 668us/step - loss: 0.1311 - accuracy: 0.9595
Epoch 31/100
35/35 [==============================] - 0s 648us/step - loss: 0.1481 - accuracy: 0.9575
Epoch 32/100
35/35 [==============================] - 0s 651us/step - loss: 0.1312 - accuracy: 0.9646
Epoch 33/100
35/35 [==============================] - 0s 630us/step - loss: 0.1334 - accuracy: 0.9582
Epoch 34/100
35/35 [==============================] - 0s 630us/step - loss: 0.1172 - accuracy: 0.9671
Epoch 35/100
35/35 [==============================] - 0s 647us/step - loss: 0.1222 - accuracy: 0.9621
Epoch 36/100
35/35 [==============================] - 0s 648us/step - loss: 0.1166 - accuracy: 0.9679
Epoch 37/100
35/35 [==============================] - 0s 682us/step - loss: 0.1050 - accuracy: 0.9733
Epoch 38/100
35/35 [==============================] - 0s 619us/step - loss: 0.1018 - accuracy: 0.9718
Epoch 39/100
35/35 [==============================] - 0s 671us/step - loss: 0.1098 - accuracy: 0.9699
Epoch 40/100
35/35 [==============================] - 0s 627us/step - loss: 0.0997 - accuracy: 0.9728
Epoch 41/100
35/35 [==============================] - 0s 655us/step - loss: 0.0953 - accuracy: 0.9743
Epoch 42/100
35/35 [==============================] - 0s 643us/step - loss: 0.0796 - accuracy: 0.9794
Epoch 43/100
35/35 [==============================] - 0s 644us/step - loss: 0.0969 - accuracy: 0.9713
Epoch 44/100
35/35 [==============================] - 0s 648us/step - loss: 0.0856 - accuracy: 0.9752
Epoch 45/100
35/35 [==============================] - 0s 661us/step - loss: 0.0867 - accuracy: 0.9746
Epoch 46/100
35/35 [==============================] - 0s 668us/step - loss: 0.0702 - accuracy: 0.9828
Epoch 47/100
35/35 [==============================] - 0s 637us/step - loss: 0.0747 - accuracy: 0.9793
Epoch 48/100
35/35 [==============================] - 0s 677us/step - loss: 0.0603 - accuracy: 0.9844
Epoch 49/100
35/35 [==============================] - 0s 632us/step - loss: 0.0613 - accuracy: 0.9882
Epoch 50/100
35/35 [==============================] - 0s 671us/step - loss: 0.0579 - accuracy: 0.9848
Epoch 51/100
35/35 [==============================] - 0s 639us/step - loss: 0.0644 - accuracy: 0.9793
Epoch 52/100
35/35 [==============================] - 0s 660us/step - loss: 0.0631 - accuracy: 0.9825
Epoch 53/100
35/35 [==============================] - 0s 636us/step - loss: 0.0507 - accuracy: 0.9921
Epoch 54/100
35/35 [==============================] - 0s 659us/step - loss: 0.0522 - accuracy: 0.9860
Epoch 55/100
35/35 [==============================] - 0s 661us/step - loss: 0.0455 - accuracy: 0.9896
Epoch 56/100
35/35 [==============================] - 0s 643us/step - loss: 0.0483 - accuracy: 0.9871
Epoch 57/100
35/35 [==============================] - 0s 676us/step - loss: 0.0457 - accuracy: 0.9910
Epoch 58/100
35/35 [==============================] - 0s 668us/step - loss: 0.0495 - accuracy: 0.9850
Epoch 59/100
35/35 [==============================] - 0s 654us/step - loss: 0.0295 - accuracy: 0.9960
Epoch 60/100
35/35 [==============================] - 0s 705us/step - loss: 0.0387 - accuracy: 0.9919
Epoch 61/100
35/35 [==============================] - 0s 657us/step - loss: 0.0345 - accuracy: 0.9909
Epoch 62/100
35/35 [==============================] - 0s 662us/step - loss: 0.0318 - accuracy: 0.9938
Epoch 63/100
35/35 [==============================] - 0s 677us/step - loss: 0.0328 - accuracy: 0.9902
Epoch 64/100
35/35 [==============================] - 0s 667us/step - loss: 0.0324 - accuracy: 0.9914
Epoch 65/100
35/35 [==============================] - 0s 645us/step - loss: 0.0240 - accuracy: 0.9960
Epoch 66/100
35/35 [==============================] - 0s 654us/step - loss: 0.0288 - accuracy: 0.9935
Epoch 67/100
35/35 [==============================] - 0s 648us/step - loss: 0.0338 - accuracy: 0.9926
Epoch 68/100
35/35 [==============================] - 0s 646us/step - loss: 0.0220 - accuracy: 0.9980
Epoch 69/100
35/35 [==============================] - 0s 685us/step - loss: 0.0254 - accuracy: 0.9967
Epoch 70/100
35/35 [==============================] - 0s 678us/step - loss: 0.0265 - accuracy: 0.9955
Epoch 71/100
35/35 [==============================] - 0s 652us/step - loss: 0.0204 - accuracy: 0.9975
Epoch 72/100
35/35 [==============================] - 0s 654us/step - loss: 0.0200 - accuracy: 0.9982
Epoch 73/100
35/35 [==============================] - 0s 680us/step - loss: 0.0227 - accuracy: 0.9983
Epoch 74/100
35/35 [==============================] - 0s 662us/step - loss: 0.0185 - accuracy: 0.9980
Epoch 75/100
35/35 [==============================] - 0s 710us/step - loss: 0.0152 - accuracy: 0.9992
Epoch 76/100
35/35 [==============================] - 0s 687us/step - loss: 0.0176 - accuracy: 0.9985
Epoch 77/100
35/35 [==============================] - 0s 634us/step - loss: 0.0182 - accuracy: 0.9976
Epoch 78/100
35/35 [==============================] - 0s 648us/step - loss: 0.0141 - accuracy: 0.9995
Epoch 79/100
35/35 [==============================] - 0s 649us/step - loss: 0.0146 - accuracy: 0.9986
Epoch 80/100
35/35 [==============================] - 0s 668us/step - loss: 0.0127 - accuracy: 0.9995
Epoch 81/100
35/35 [==============================] - 0s 641us/step - loss: 0.0138 - accuracy: 0.9991
Epoch 82/100
35/35 [==============================] - 0s 667us/step - loss: 0.0123 - accuracy: 0.9986
Epoch 83/100
35/35 [==============================] - 0s 668us/step - loss: 0.0141 - accuracy: 0.9970
Epoch 84/100
35/35 [==============================] - 0s 645us/step - loss: 0.0110 - accuracy: 0.9996
Epoch 85/100
35/35 [==============================] - 0s 665us/step - loss: 0.0107 - accuracy: 0.9988
Epoch 86/100
35/35 [==============================] - 0s 665us/step - loss: 0.0101 - accuracy: 0.9994
Epoch 87/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0094 - accuracy: 0.9993
Epoch 88/100
35/35 [==============================] - 0s 758us/step - loss: 0.0083 - accuracy: 0.9994
Epoch 89/100
35/35 [==============================] - 0s 905us/step - loss: 0.0103 - accuracy: 0.9984
Epoch 90/100
35/35 [==============================] - 0s 676us/step - loss: 0.0099 - accuracy: 0.9998
Epoch 91/100
35/35 [==============================] - 0s 766us/step - loss: 0.0097 - accuracy: 0.9984
Epoch 92/100
35/35 [==============================] - 0s 618us/step - loss: 0.0105 - accuracy: 0.9988
Epoch 93/100
35/35 [==============================] - 0s 656us/step - loss: 0.0117 - accuracy: 0.9964
Epoch 94/100
35/35 [==============================] - 0s 645us/step - loss: 0.0070 - accuracy: 0.9995
Epoch 95/100
35/35 [==============================] - 0s 681us/step - loss: 0.0065 - accuracy: 0.9998
Epoch 96/100
35/35 [==============================] - 0s 776us/step - loss: 0.0071 - accuracy: 0.9994
Epoch 97/100
35/35 [==============================] - 0s 698us/step - loss: 0.0064 - accuracy: 0.9993
Epoch 98/100
35/35 [==============================] - 0s 705us/step - loss: 0.0054 - accuracy: 0.9998
Epoch 99/100
35/35 [==============================] - 0s 647us/step - loss: 0.0063 - accuracy: 0.9998
Epoch 100/100
35/35 [==============================] - 0s 703us/step - loss: 0.0066 - accuracy: 0.9988

### Step 2: Evaluate the model using the test data to determine its loss and accuracy.

In [19]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.9373 - accuracy: 0.8261
Loss: 0.9372611045837402, Accuracy: 0.8260869383811951

### Step 3: Save and export your model to an HDF5 file. Name the file `employee_attrition.h5`.

In [20]:
# Set the model's file path
file_path = Path("../Resources/employee_attrition.h5")

# Export your model to a HDF5 file
nn.save(file_path)