# JSON Practice

This short activity will give you the opportunity to practice converting a `json` to a `Pandas` `DataFrame`. You will read a `json` file containing housing data from Alberta Canada and then convert that json object to a `DataFrame`.

>**Hint**: You can create `DataFrame` objects from a list of `Series`.

## 1. Import Modules

In [3]:
# Import modules
from pathlib import Path
import pandas as pd
import json

## 2. Set paths to `json` Files
  - The file contains a json object that was returned from a request to the financial API, Quandl.

In [4]:
saved_response_path = Path("../Resources/alberta_housing_data.json")

## 3. Create an empty dictionary to read the `json` object into

In [5]:
# YOUR CODE HERE!

response = {}

## 4. Using `json.load` read the `json` object into the `response` dictionary
  - You can use [open](https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files) to create a file handle to pass to `json.load`.

In [6]:
# Read in file
# YOUR CODE HERE!
with open(saved_response_path, "r") as file_handle:
    response = json.load(file_handle)

## 5. Retrieve the column_names
  - Look closely at the structure of `response`. There is a list named `column_names` that contain the names for the data columns held in the json object.
  - Retrieve this list and store it in a variable named `column_names`.

In [14]:
# Get list of column names
column_names = response['dataset']['column_names']

## 6. Create a `DataFrame` from `response`
  - `pandas.DataFrame.from_dict` will not return a `DataFrame` with only the data values and column names.
  - Create an empty list named `list_series`.
  - Create a for loop that iterates over each row in `data`.
  - Append a new `Series` for each row into `list_series`.
  - Create a new `DataFrame` for the list of `Series` after the list is fully populated.

In [29]:
# Empty list for storing the Series
# YOUR CODE HERE!
list_series = []
data = response['dataset']['data']
# Loop over each row in `data`
# YOUR CODE HERE!
for item in data:
    list_series.append(item)

   
# Create a DataFrame from the list of series
# YOUR CODE HERE!
housing_df = pd.DataFrame(list_series)

housing_df.head(10)

,0,1,2,3,4,5,6,7
0,2020-11-30,395000.0,480000.0,570000.0,730000.0,525000.0,604967.0,2003.0
1,2020-10-31,390000.0,475000.0,565000.0,718000.0,520000.0,599735.0,2111.0
2,2020-09-30,390000.0,470000.0,560000.0,720000.0,510000.0,601300.0,2206.0
3,2020-08-31,385000.0,465000.0,555000.0,735000.0,505000.0,600865.0,2314.0
4,2020-07-31,380000.0,460000.0,555000.0,725000.0,505000.0,596708.0,2506.0
5,2020-06-30,375000.0,455000.0,550000.0,715000.0,500000.0,592217.0,2669.0
6,2020-05-31,375000.0,450000.0,548000.0,710000.0,490000.0,588908.0,2685.0
7,2020-04-30,375000.0,450000.0,545000.0,700000.0,490000.0,584296.0,2727.0
8,2020-03-31,375000.0,450000.0,540000.0,700000.0,490000.0,578154.0,2773.0
9,2020-02-29,370000.0,440000.0,535000.0,700000.0,480000.0,573679.0,2852.0

## 7. Set `DataFrame` column names
  - Using the column names found previously, set the dataframe column names using the `column` attribute.

In [31]:
# Assign column names
housing_df.columns = column_names

In [32]:

housing_df.head()

,Date,1st 20%,2nd 40%,3rd 60%,4th 80%,Median,Average,Units
0,2020-11-30,395000.0,480000.0,570000.0,730000.0,525000.0,604967.0,2003.0
1,2020-10-31,390000.0,475000.0,565000.0,718000.0,520000.0,599735.0,2111.0
2,2020-09-30,390000.0,470000.0,560000.0,720000.0,510000.0,601300.0,2206.0
3,2020-08-31,385000.0,465000.0,555000.0,735000.0,505000.0,600865.0,2314.0
4,2020-07-31,380000.0,460000.0,555000.0,725000.0,505000.0,596708.0,2506.0

In [33]:
# Import the required libraries and dependencies
import pandas as pd
import requests
import json

# Set the Ripple endpoint
ltc_url = "https://api.alternative.me/v2/ticker/Litecoin/"

# Fetch the current Ripple price
ltc_response = requests.get(ltc_url).json()

# Display response data
print(json.dumps(ltc_response, indent=4, sort_keys=True))

{
    "data": {
        "2": {
            "circulating_supply": 69713521,
            "id": 2,
            "last_updated": 1645762936,
            "max_supply": 84000000,
            "name": "Litecoin",
            "quotes": {
                "USD": {
                    "market_cap": 7311204164,
                    "percent_change_1h": 0.257415624333981,
                    "percent_change_24h": 6.90380262509177,
                    "percent_change_7d": -9.97306664182733,
                    "percentage_change_1h": 0.257415624333981,
                    "percentage_change_24h": 6.90380262509177,
                    "percentage_change_7d": -9.97306664182733,
                    "price": 104.62,
                    "volume_24h": 1291310862
                }
            },
            "rank": 15,
            "symbol": "LTC",
            "total_supply": 69713521,
            "website_slug": "litecoin"
        }
    },
    "metadata": {
        "error": null,
        "num_cryptocurrencies": 3105,
        "timestamp": 1645762936
    }
}